body
{
    background-image: url(./images/table3.jpg);
    background-size: cover;
}
#table
{
    color: black;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 110px;
    left: 120px;
    border: 5px solid black;
}

#heading
{
    position: absolute;
    left: 205px;
    font-size: 50px;
}